.card {
  position: relative;
  background-color: var(--color-blue-light);
  padding: 20px;
  width: 130px;
  height: 80px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  h4 {
    font-size: 20px;
  }
}

.first-card-label {
  position: absolute;
  width: 6px;
  height: 60px;
  left: 0;
  top: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.status-open {
  background-color: var(--color-yellow);
}

.status-closed {
  background-color: var(--color-red);
}

.status-both {
  background-color: var(--color-orange);
}
