header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  .active-link {
    color: var(--color-orange);
  }
}
