h3 {
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sections {
  display: flex;
  gap: 10px;
}

.card:not(:last-of-type) {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 15px;
    right: -15px;
    width: 20px;
    height: 50px;
    background-color: var(--color-blue-dark);
  }
}
